#footer= 'Copyright © ' + date(Date.now(), 'YYYY') + ' '
  a(href=url_for('.'), rel='nofollow')= config.title + '.\n'
  |  Powered by
  a(rel='nofollow', target='_blank', href='https://hexo.io')  Hexo.
  a(rel='nofollow', target='_blank', href='https://github.com/tufu9441/maupassant-hexo')  Theme
  |  by
  a(rel='nofollow', target='_blank', href='https://github.com/pagecho')  Cho.


div(style="max-width:1150px;display:flex;margin:0 auto",class="footer-div-a")
  div(style="padding-left:10px;padding-top:7px;padding-bottom:7px;text-align: left;",class="footer-div-b")
    a(rel='nofollow')= '©'+date(Date.now(), 'YYYY')+' ' + ' ❤ '
    a(href=url_for('.'), rel='nofollow',font-size='14px',font-weight='bold')= config.title
 script(src='https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js', async) 
         span#busuanzi_container_site_uv= ' | '
         span#busuanzi_value_site_uv
         span= ' ' + __('Hits')
